/* style.qss */

QWidget {
    background-color: #f0f0f0;
}

#widget_list {
    background-color: #d8bed6;
}


QPushButton {
    background-color: #f7b634;
    height: 40px;
    font-size: 15px;
    font-family: '黑体';
}

QPushButton:hover {
    background-color: #70a7ad;
}
